body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #e0e0e0;
    color: #333;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em 0 0 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5em 1em;
}

header nav ul li a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.title {
    font-size: 2.5em;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em 0 0 0;
}

.nav-link {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5em 1em;
}

.nav-link:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.contact-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.contact-btn {
    background-color: #e0e0e0;
    color: #333;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.contact-btn:hover {
    background-color: #c0c0c0;
    color: #fff;
}

section {
    padding: 2em 1em;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: #fff;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.skill-card {
    display: inline-block;
    width: calc(33.3333% - 1em);
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    padding: 1em 0;
}

.skill-title {
    padding: 1em 0;
}

.skill-title p {
    margin: 0.5em 0;
}

.skill-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.experience-card,
.formation-card {
    display: flex;
    align-items: center;
    gap: 1em;
}

.company-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

footer a {
    color: #ffdd57;
    text-decoration: none;
}
